<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Веб, блог, разработка">
    <meta name="description" content="Сайт о моем хобби-разработке">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Сквозь тернии к звездам</title>
    <link href="css/general.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="css/jquery.fancybox.min.css" rel="stylesheet" media="screen">
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <header>
			<section class="top-header">
				<div class="wrapper clearfix">
					<div class="telefon">
						<img src="img/tel.png" alt="telefon" width="20px" height="20px">
						<a class="number-tel" href="callto:89081111111">
							8908-11-11-111
						</a>
					</div>
					<div class="social">
						<a href="https://vk.com/l.sedelnikova" target="blank" class="vk"></a><!--
						--><a href="https://ok.ru/?_erv=vuyzlyirbwpynedjrs" target="blank" class="ok"></a><!--
						--><a href="https://my.mail.ru/mail/lena1687/" target="blank" class="my-space"></a>
					</div>
				</div>
			</section>
			<section class="bottom-header">
				<div class="wrapper clearfix">
					<div class="header-logo">
						<a href="index.html">
							<img src="img/logo.png" alt="telefon" width="75px" height="70px">
						</a>
					</div>
					<nav class="header-menu">
						<a href="about.html">About me</a><!--
						--><a href="news.html">News</a><!--
						--><a href="contacts.html">Contacts</a>
   				</nav>
				</div>
			</section>
		 </header>
		 <main>
			<section class="news-page">
				<div class="strip"></div>
				<div class="wrapper clearfix">
					<aside class="widget">
					  <h3>Category</h3>
					  <ul>
					    <li><i class="fa fa-paint-brush" aria-hidden="true"></i><a href="#">Design</a></li>
					    <li><i class="fa fa-camera-retro"></i><a href="#">Foto</a></li>
					    <li><i class="fa fa-briefcase" aria-hidden="true"></i><a href="#">Business</a></li>
					    <li><i class="fa fa-music" aria-hidden="true"></i><a href="#">Music</a></li>
					    <li><i class="fa fa-video-camera" aria-hidden="true"></i><a href="#">Video</a></li>
					  </ul>
					</aside>
					<div class="news-column">
						<div class="new">
							<div class="foto-new">
								<img class="foto-new" src="img/new-1.png" alt="telefon" width="150px" height="150px">
							</div>
							<h2 class="title-new">Push yourself & your designs</h2>
							<p class="block-new">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							<div class="button-new">
								<a href="#">Read more</a>
							</div>
   					</div>
		 				<div class="new">
							<img class="foto-new" src="img/new-2.png" alt="telefon" width="150px" height="150px">
							<h2 class="title-new">Push yourself & your designs</h2>
							<p class="block-new">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							<div class="button-new">
								<a href="#">Read more</a>
							</div>
						</div>
						<div class="new">
							<div class="foto-new">
								<img class="foto-new" src="img/new-3.png" alt="telefon" width="150px" height="150px">
							</div>
							<h2 class="title-new">Push yourself & your designs</h2>
							<p class="block-new">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
							<div class="button-new">
								<a href="#">Read more</a>
							</div>
		 				</div>
		 			</div>
				</div>
			</section>
    </main>
    <footer>
    	<div class="wrapper clearfix">
	    	<div class="copyright copyright-new">
					<p><span>&#169;</span>Lena<span>S</span></p>
				</div>
				<div class="footer-mail mail-new">
					<a href="mailto:lena1687@mail.ru" target="blank">
						lena1687@mail.ru
					</a>
				</div>
			</div>
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>